.popup__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.211);
  padding-bottom: 7px;
  outline: none;
}
.popup__input:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 920px) {
  .popup__input {
    margin: 0 22px 30px;
  }
}