.header__logo {
  max-width: 142px;
  max-height: 33px;
  /*padding: 0 738px 41px 0;*/
  padding-bottom: 41px;
}

@media screen and (max-width: 920px) {
  .header__logo {
    width: 103px;
    height: 24px;
    /*padding: 0 190px 31px 27px;*/
    padding-bottom: 31px;
    padding-left: 8px;

  }
}