.header {
  max-width: 880px;
  margin: 0 auto;
  max-height: 74px;
  padding-top: 45px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}


@media screen and (max-width: 920px) {
  .header {
    max-width: 100%;
    padding: 28px 0 0;
  }
}
