.elements {
  margin: 0 auto;
  padding: 0;
  max-width: 880px;
  gap: 17px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
}



@media screen and (max-width: 920px) {
  .elements {
    max-width: 282px;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
  }
}