.footer__copyright {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #545454;
  max-width: 318px;
  margin: 66px auto;
  padding: 0 562px 0 0;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .footer__copyright {
    max-width: 282px;
    padding: 0;
    margin: 48px auto 36px;
    font-size: 14px;
    line-height: 17px;
  }
}