.popup__close-button {
  border: none;
  outline: none;
  position: absolute;
  top: -35px;
  right: -35px;
  padding: 0;
  min-width: 32px;
  min-height: 32px;
  background: url(../../../images/buttons/close-button.svg);
  background-repeat: no-repeat;
  background-size: 32px;
  aspect-ratio: 1/1;
}
.popup__close-button:hover {
  opacity: 60%;
}

@media screen and (max-width: 920px) {
  .popup__close-button {
    min-width: 20px;
    min-height: 20px;
    background-size: 20px;
    top: -35px;
    right: 0;
  }
}