.profile__avatar-box {
  width: 168.75px;
  height: 127.5px;
  justify-content: center;
}
@media screen and (min-width: 290px) and (max-width: 767px) {
  .profile__avatar-box {
    margin: 0 auto;
  }
}