.profile__edit-button-icon {
  background-image: url(../../../images/buttons/edit-button.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 10px;
  border: 1px solid rgba(255, 255, 255, 1);
  width: 24px;
  height: 24px;
  margin-top: 37px;
  margin-bottom: 59px;
}

.profile__edit-button-icon:hover {
  opacity: 60%;
}

@media screen and (max-width: 920px) {
  .profile__edit-button-icon {
    margin: 0;
    width: 18px;
    height: 18px;
    position: absolute;
    top: 193px;
    right: 19px;
    background-size: 7.5px;
  }
}